#result{
  background: #ffffff;
  box-shadow: 5px 10px 50px rgba(59, 58, 57, 0.26);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  padding-left: 30px;
  padding-right: 56px; 
  margin-top: 2%;
  margin-left: 10%;
  img{
    border-radius: 50%;
    max-width: 100%;
    width: 300px;
    height: 300px;
    object-fit: cover;
    margin-left: 15px;
  }
  h3{
    font-size: 25px;
    margin-bottom: 0px !important;
    margin-left: 15px;
  }
  a{
    margin-left: 15px;
    color: black !important;
    font-size: 23px;
    font-weight: bold;
  }
  button{
    background-color: rgb(95, 224, 95) !important;
    height: 35px;
    border-radius: 10px;
    margin-top: 28px;
    width: 300px;
    font-size: 17px;
    font-weight: 600;
  }
}
h1{
margin-left: 15%;
}