#form{
    margin-left: 20%;

    input{
        width: 50%;
        height: 40px;       
    }
    button{
        width: 50%;
        height: 40px;
        margin-top: 3%;
        background-color: rgb(95, 224, 95);
        border-radius: 5px;
    }
}